
<div class="container" >
    <h1>Meet The Poll Aliens Team!</h1>
    <div class="row" style="margin-top: 20px;">

        <div class="row" style="margin-top: 20px;">
            <div class="col d-flex justify-content-left" >
                We are a group of Software Engineering Students from Centennial College. 
				Under the tutelage of Professor Tom Tsiliopoulos, we learned Web Application Development, and finally 
				grouped together to form the POLL ALIENS Survey Site. This is our final requirement for the fulfillment of this course.
            </div>
            <div>
            <img src="/Assets/images/pollaliensteam.png" alt="" width="100%" >
            </div>
        </div>
    </div>
</div>


