<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  display:flex;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
</head>
<body>

<div class="about-section">
  <h1>MEET POLL ALIENS TEAM!</h1>
  <p>We are a group of Software Engineering Students from Centennial College. 
    Under the tutelage of Professor Tom Tsiliopoulos, we learned Web Application Development, and finally 
    grouped together to form the POLL ALIENS Survey Site. This is our final requirement for the fulfillment of this course.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/Assets/images/jay.jpg" alt="Jay" style="width: 100%;">
      <div class="container">
        <h2>Jay Pee Arrieta</h2>
        <p class="title">Project Manager</p>
        <p>jarrieta@my.centennialcollege.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/Assets/images/sanjay.jpg" alt="Sanjay" style="width:100%">
      <div class="container">
        <h2>Sanjay Mahabir</h2>
        <p class="title">Lead Software Engineer</p>
        <p>smahab13@my.centennialcollege.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<div class="column">
    <div class="card">
      <img src="/Assets/images/ibr.jpg" alt="Ibrahim" style="width:100%">
      <div class="container">
        <h2>Ibrahim Ozturk</h2>
        <p class="title">Generalist Programer</p>
        <p>iozturk@my.centennialcollege.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

  <div class="column">
    <div class="card">
      <img src="/Assets/images/jule.jpg" alt="Jule" style="width:100%">
      <div class="container">
        <h2>Julienis Brinez </h2>
        <p class="title">Web Designer</p>
        <p>jbrinezp@my.centennialcollege.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/Assets/images/ty.jpg" alt="Ty" style="width:100%">
      <div class="container">
        <h2>Tyrelle Beltran</h2>
        <p class="title">Database Programer</p>
        <p>tbeltra2@my.centennialcollege.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<div class="column">
    <div class="card">
      <img src="/Assets/images/haley.jpg" alt="Haley" style="width:100%">
      <div class="container">
        <h2>Thi Hong Hanh Bui</h2>
        <p class="title">UI Programer</p>
        <p>tbui78@my.centennialcollege.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
