<section class="mb-4">
  <div class="container login_box" style="justify-content: center;">
    
      <!-- personal contact information -->                
      <div class="row" style="margin-top: 140px;" >
        
          <div class="col-md-3 text-center">
              <ul class="list-unstyled mb-0">
                  <li><i class="fas fa-map-marker-alt fa-2x"></i>
                      <p>Toronto, Canada<br>
                      </p>
                  </li>
                  <li><i class="fas fa-phone mt-4 fa-2x"></i>
                      <p>+1 647 888 8888</p>
                  </li>
                  <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                      <p>mothership@poll-aliens.com</p>
                  </li>
              </ul>
          </div>
        
        </div>
  </div>
</section>
    
